<div class="container coasters-index">
  <h1 style="font-weight: 100">{{thegame.title}}</h1>
  <img src="{{thegame.images}}" alt="">
  <h4>Dessarrollado por: {{thegame.developer}}</h4>
  <p>Descripción: {{thegame.description}}</p>
  <h4>Rating: {{thegame.rating}}/100</h4>
  <h5>Unidades de {{thegame.title}} en venta: <a href="/juegos/ventas"
      class="btn btn-dark">{{thegame.availableSale}}</a></h5>
  <h5>Interesados en comprar {{thegame.title}}: {{thegame.availableBuy}}</h5>


  <a href="/juegos/favoritos?gameId={{thegame.id}}" class="btn btn-dark">Añadir a favoritos</a>
  <a href="/juegos/incluir-venta?gameId={{thegame.id}}" class="btn btn-dark">Quiero venderlo</a>

  <a href="/juegos" class="btn btn-dark">Volver a la lista de juegos</a>
  <hr>
  <a href="/juegos/imagen?gameId={{thegame.id}}" class="btn btn-dark">Subir imagen</a>
  <hr>

  {{#if isAdmin}}
  <a href="/juegos/editar?gameId={{thegame.id}}" class="btn btn-dark">Editar</a>
  <a href="/juegos/borrar?gameId={{thegame.id}}" class="btn btn-dark">Borrar</a>
  {{/if}}
</div>

<script>

  document.getElementById('btnadd').onclick = change;
  function change() {
    document.getElementById('btnadd').style.backgroundColor = "green"
    document.getElementById('btnadd').innerHTML = "¡Añadido!"
    //document.getElementById('btnadd').setAttribute('btnadd', 'addbtn')
    return false;
  }

</script>