<div class="container coasters-index">
  <h1 style="font-weight: 100">{{thegame.title}}</h1>

  <h4>Dessarrollado por: {{thegame.developer}}</h4>
  <p>Descripción: {{thegame.description}}</p>
  <h4>Rating: {{thegame.rating}}/100</h4>
  <h5>Unidades de {{tthegame.itle}} en venta: {{thegame.availableSale}}</h5>
  <h5>Interesados en comprar {{thegame.title}}: {{thegame.availableBuy}}</h5>

  <form action="/juegos/detalles/{{thegame.id}}" method="POST">
    <button type='submit' class='btn btn-dark btn-block' id="btnadd">Añadir a favoritos</button>
  </form>

  <a href="/juegos" class="btn btn-dark">Volver a la lista de juegos</a>

  {{#if isAdmin}}
  <a href="/juegos/editar?gameId={{thegame.id}}" class="btn btn-dark">Editar</a>
  <a href="/juegos/borrar?gameId={{thegame.id}}" class="btn btn-dark">Borrar</a>
  {{/if}}
</div>

<script>

  document.getElementById('btnadd').onclick = change;
  function change() {
    document.getElementById('btnadd').style.backgroundColor = "green"
    document.getElementById('btnadd').innerHTML = "¡Añadido!"
    return false;
  }

</script>