<div class="container coasters-index">
  <div class="row justify-content-center">
    <h1 style="font-weight: 100">{{thegame.title}}</h1>
  </div>
  <div class="row justify-content-center">
    <img src="{{thegame.images}}" alt="Foto de {{thegame.images}}" style="margin-bottom: 15px">
  </div>
  <div class="row justify-content-center">
    <h4>Desarrollado por: {{thegame.developer}}</h4>
  </div>
  <div class="row justify-content-center" style="margin:10px">
    <p>Descripción: {{thegame.description}}</p>
  </div>
  <div class="row justify-content-center">
    <h4>Puntuación: {{thegame.rating}}/100</h4>
  </div>
  <div class="row justify-content-center">
    <h5>Unidades de {{thegame.title}} en venta: <a href="/juegos/ventas?gameId={{thegame.id}}"
        class="btn btn-dark">{{thegame.availableSale}}</a></h5>
  </div>
  <div class="row justify-content-center">
    <a href="/juegos/favoritos?gameId={{thegame.id}}" class="btn btn-dark" style="margin-bottom: 15px">Añadir a
      favoritos</a>
    <a href="/juegos/incluir-venta?gameId={{thegame.id}}" class="btn btn-dark"
      style="margin-left: 25px; margin-bottom: 15px">Quiero
      venderlo</a>
    <a href="/juegos/imagen?gameId={{thegame.id}}" class="btn btn-dark"
      style="margin-left: 25px; margin-bottom: 15px">Editar imagen</a>
    <a href="/juegos" class="btn btn-dark" style="margin-left: 25px; margin-bottom: 15px">Volver a la lista de
      juegos</a>
  </div>
  {{#if isAdmin}}
  <a href="/juegos/editar?gameId={{thegame.id}}" class="btn btn-dark">Editar</a>
  <a href="/juegos/borrar?gameId={{thegame.id}}" class="btn btn-dark">Borrar</a>
  {{/if}}
</div>